# this is example environment variables for running in docker-compose

# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/Los_Angeles

# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000

# The directory where data will be stored.
ROOT=./media

# The directory where configuration will be stored.
CONFIG=./config

# some example config

# your user-code from https://www.plex.tv/claim
PLEX_CLAIM=claim-YOURS

# URL of local plex server
URL_PLEX="http://localhost:32400"


# URL where ollama is running
URL_OLLAMA="http://localhost:11434" 

# the model-name to use. should have function-calling and stuff
OLLAMA_MODEL="llama3.2"


# URL of the qtorrent web-ui server
URL_QTORRENT="http://localhost:8080"


# URL of the bitmagnet server
URL_BITMAGNET="http://localhost:3333/graphql"